In [1]:
import findspark

In [3]:
findspark.init()

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

22/07/03 23:54:59 WARN Utils: Your hostname, NPT-CYQDPG3 resolves to a loopback address: 127.0.0.1; using 192.168.1.80 instead (on interface wlp0s20f3)
22/07/03 23:54:59 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
22/07/03 23:54:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/07/03 23:55:00 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [6]:
#df = spark.read.json('people.json')
df=spark.read.csv("part-00000-a44a1733-b494-4a4f-9b27-9063b1afb5ef-c000.csv")

In [7]:
df.show()

+------+--------------------+---+-----+--------------------+
|   _c0|                 _c1|_c2|  _c3|                 _c4|
+------+--------------------+---+-----+--------------------+
|334395|Vault Fitness - B...| us|false|2019-12-19T13:59:...|
|418371|         Yoga Dragon| us|false|2019-12-19T14:00:...|
|449458|  Happy Hour Fitness| us|false|2019-12-19T14:00:...|
|355134|Studio 6 Fitness ...| us|false|2019-12-19T13:59:...|
|442343|         Zephyr Yoga| us|false|2019-12-19T13:59:...|
|455610|Shed Fitness - Ge...| us|false|2019-12-19T14:00:...|
|395649|F45 Training - Su...| us|false|2019-12-19T13:59:...|
+------+--------------------+---+-----+--------------------+

In [7]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [8]:
df.columns

['age', 'name']

In [9]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [10]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [11]:
from pyspark.sql.types import (StructField, StringType, IntegerType, StructType)

In [12]:
data_schema = [StructField('age',IntegerType(),True), 
               StructField('name',StringType(),True)]

In [13]:
final_struct = StructType(fields=data_schema)

In [14]:
df = spark.read.json('people.json',schema=final_struct)

In [15]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [16]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [17]:
type(df['age'])

pyspark.sql.column.Column

In [18]:
df.select('age')

DataFrame[age: int]

In [19]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [20]:
df.head(2)[1]

Row(age=30, name='Andy')

In [21]:
type(df.head(2)[1])

pyspark.sql.types.Row

In [22]:
df.select(['age','name'])

DataFrame[age: int, name: string]

In [23]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [24]:
df.withColumn('newage',df['age']).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [25]:
df.withColumn('newage',df['age']*2).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    60|
|  19| Justin|    38|
+----+-------+------+

In [26]:
df.withColumnRenamed('age','IDADE').show()

+-----+-------+
|IDADE|   name|
+-----+-------+
| null|Michael|
|   30|   Andy|
|   19| Justin|
+-----+-------+

Registering dataframe in df as a view called people to be queried

In [27]:
df.createOrReplaceTempView('people')

In [28]:
results = spark.sql('SELECT * FROM people')

In [29]:
type(results)

pyspark.sql.dataframe.DataFrame

In [30]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [36]:
spark.sql("SELECT * FROM people WHERE name LIKE '%i%'").show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  19| Justin|
+----+-------+

In [8]:
import numpy as np
t1 = np.array([0.65, 0.09,0.49,0.65,0.53,0.65,0.09  ,0.49,0.65,0.53])
t2 = [0.68, 0.09,0.54,0.58,0.6 ,0.73,0     ,0.53,0.63,0.54]

difference = t1 - t2
difference_2 = np.power(difference,2)
sum_sqrt = np.sqrt(np.sum(difference_2))

In [9]:
sum_sqrt

0.1726267650163207